<html>
  <head>
    <style>
      p {
        border-style: none;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;
      }
      h1 {
        border-style: none;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;
      }
      p.solid {
        border-style: solid;
      }
      p.dotted {
        border-style: dotted;
      }
      p.none {
        border-style: none;
      }
    </style>
  </head>

  <body>
    <h1 class="none" style="color: blue;">This is Page 2 of the repo</h1>
    <p class="none">
      A bridge is a structure built to span a physical obstacle, such as a body
      of water, valley, or road, without closing the way underneath.
    </p>

    <p class="none">
      It is constructed for the purpose of providing passage over the obstacle,
      usually something that can be detrimental to cross otherwi1se.
    </p>
  </body>
</html>
